body {
    background-color: #EE6055;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color:rgb(255, 248, 239);
}

.title-container{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: end;
}

.title {
    font-family: "Racing Sans One", sans-serif;
    text-align: center;
    font-size: 70px;
    margin: 20px 0px;
    color: #ffe0a7;
    position: relative;
}

.intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-btn:hover{
    text-decoration: underline;
}

.game {
    transition: 0.5s ease-in 0.5s;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #382828;
    background-color: #60D394;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
}

button:hover {
    background-color: #AAF683;
}

button:active {
    background-color: #AAF683;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:disabled {
    cursor: not-allowed;
    background-color: #FF9B85;
}

.rps-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 20px 0;
    margin-top: 30px;
}

.points-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-title div{
    font-size: 24px;
}

.final-score{
    display: flex;
    justify-content: center;
}

.round-results {
    display: flex;
    justify-content: center;
    margin: 20px 20px 10px;
    padding: 10px
}

.play-again {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.play-again .symbol{
    font-size: 30px;
}

.play-again .symbol:hover{
    font-size: 40px;
    cursor: pointer;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes titleTransition {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}

